extends ../layout
block content
	.container
		.row
			form.form-horizontal(method="post",action="/admin/movie/new")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")电影名字
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[title]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")导演
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[doctor]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")国家
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[country]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")语言
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[language]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")上映年份
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[year]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")简介
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[summary]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")海报
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[poster]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")电影地址
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[flash]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle")录入时间
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[pubdate]")
				.form-group
					label.col-sm-2
					.col-sm-10
						input.btn.btn-primary(type="submit",value="提交")
